<h2><%= @message %></h2>

<% if @opponentsboard.has_ships? %>
	<h3>Hit at opposition:</h3>
	<%= erb :opponent_grid %>
<% else %>
	<h3>Waiting for opponent to place their ships...</h3>
<% end %>

<% if !@opponentsboard.has_ships? || @refresh %>
	<script type="text/javascript">
		setInterval(function(){
			location.reload();
		},3000);
	</script>
<% end %>

<h3>Your ships:</h3>
<%= erb :grid %>