<!DOCTYPE html>
<html>
	<head>
		<title>Battleships - from WEBDAWGS</title>
	</head>
	<body>
		<!-- <img src='http://localhost:9292/public/images/ame-logo.png'> -->
		<a href="new_game">New Game</a>


	</body>
</html>
