<!DOCTYPE html>
<html>
<head>
	<title>WEBDAWGS Battleships!</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>

<header>
	<h1>WEBDAWGS</h1>

	<img src="/images/battleshiplogo.png">
</header>

	<%= yield %>

</body>
<footer>
<a href="http://www.makersacademy.com/"><img src="/images/makers-logo.png"></a>
<div>
	The Webdawgs team built this Battleships game for your enjoyment at
	<a href="http://www.makersacademy.com">Makers Academy, a highly selection 12 week course in London</a>.
	</div>
	<div>
		This page uses Ruby, Sinatra, Javascript, jQuery, HTML, CSS, and beautiful, glorious teamwork.
	</div>
</footer>


</html>