<!DOCTYPE html>
<html>
<head>
	<title>Webdawgs' Battleships!</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/grid.css">
</head>
<body>

	<img src="http://web-vassets.ea.com/Assets/Resources/Image/FullImageLogo/battleship-movie-logo.png?cb=1402546205">

	<%= yield %>

</body>
</html>