<!DOCTYPE html>
<html>
	<head>
<<<<<<< HEAD
		<title>Enter your name</title>
	</head>
	<body>
		<p>What's your name?</p>

		<form name="input" action="/registration_success" method="post">
			<P>Player: <input type="text" name="name_1" placeholder="Enter name here" required pattern="[a-zA-Z]+"></p>
	
			<!-- <p>Player 2: <input type="text" name="name_2" placeholder="Enter name here" required pattern="[a-zA-Z]+"></p> -->
=======
			<title>Webdawgs' Battleships!</title>
	</head>

	<body>

		<h1>Players, please enter your names.</h1>

		<form name="input" action="/registration_success" method="post">

		    Player 1:
		      <input type="text" name="player1" placeholder="Enter name" required pattern="[a-zA-Z]+"> <br>
		    Player 2:
		      <input type="text" name="player2" placeholder="Enter name" required pattern="[a-zA-Z]+"> <br>

		  	<input type="submit" value="Play!">
		</form>

	</body>
>>>>>>> 3103d7920bd07371aa7d9ba587a50f5e0abe2eb3

			<input type="submit" value="Submit">
		</form>

 	

 


			
	</body>
</html>