<h2>Place your <%= params[:shipname] %>!</h2>

<%= erb :place_ships_grid %>

<% session[:player].ships.each do |ship| %>
<ship class="<%= ship.class %> ship"><% ship.class %> <% ship.remaining_hits %></ship>
<% end %>
