<html>
	<head>
		<title>Registration Success!</title>
	</head>

	<body>
		<h1>Registration Success!</h1>

		<p> Welcome to WEBDAWGS Battleships, <%= @player1name %> and <%= @player2name %>! </p>
	</body>
</html>