<html>
	<head>
		<title>Registration Success!</title>
	</head>

	<body>
		<h1>Registration Success!</h1>

		<p>Welcome to Webdawgs' Battleships, <%= @player1name %> and <%= @player2name %>! </p>

		<p><%= @player1.name %>, please click "I'm ready" when you are ready to place your ships. (<%= @player2.name %>, look away!) </p>
		<a href="/place_ships">I'm ready</a>
	</body>
</html>