<h2>Please enter your name.</h2>

<form name="input" action="/waiting_room" method="post">

	<input type="text" name="name" placeholder="Enter name" required pattern="[a-zA-Z]+"> <br>

	<input type="submit" value="Play!">

</form>