h1 {
	font-size: 60px;
	padding: 0px;
	margin-bottom: 0px;
}

input[name=name] {
	font-size: 40px;
	text-align: center;
	border: 0px none;
	border-bottom: 2px dashed black;
	padding-bottom: 10px;
}

input[type=submit]{
	margin: 10px 0px;
	padding: 10px 20px;
	min-height: 40px;
	min-width: 150px;

	font-size: 20px;

	border: none;
	background: #43C6DB;
	color: black;

	cursor: pointer;
}
input[type=submit]:hover {
	background: #6CC417;
}

body {
	font-family: sans-serif;
	text-align: center;
}
table.battleship_grid {
	margin: 0px auto;
}

table.battleship_grid th,
table.battleship_grid td {
	width: 30px;
	height: 30px;

	padding: 0px;
	text-align: center;
}
table.battleship_grid td {
	background: #43C6DB;
	cursor: pointer;
}
table.battleship_grid td input {
	cursor: pointer;
}

table.opponent_grid td {
	cursor: auto;
}

table.battleship_grid td:hover {
	background: #F70D1A;
}

.error {
	color: #F70D1A;
	font-weight: bold;
	font-size: 20px;
}

table.battleship_grid td input[type="checkbox"] {
	visibility: hidden;
	/*display: none;*/
}

table.battleship_grid td.active {
	background: #6CC417;
}
header {
	padding: 0 0 50px 0;
}

footer {
	font-size: 12px;
	padding: 80px 0 0 0;
}




/*ship {
	display: inline-block;
	border: 1px solid black;
	height: 30px;
}

.Patrol {
	width: 62px;
}
.Submarine {
	width: 94px;
}
.Destroyer {
	width: 126px;
}
.Battleship {
	width: 158px;
}
.Carrier {
	width: 190px;
} */
