h1 {
	font-size: 60px;
	padding: 0px;
	margin-bottom: 0px;
}

body {
	font-family: sans-serif;
	text-align: center;
}
table.battleship_grid {
	margin: 0px auto;
}

table.battleship_grid th,
table.battleship_grid td {
	width: 30px;
	height: 30px;

	padding: 0px;
	text-align: center;
}
table.battleship_grid td {
	background: #43C6DB;
	cursor: pointer;
}
table.battleship_grid td:hover {
	background: #F70D1A;
}

table.battleship_grid td input[type="checkbox"] {
	visibility: hidden;
	/*display: none;*/
}

table.battleship_grid td.active {
	background: #6CC417;
}

footer {
	font-size: 12px;
	padding: 100px 0 0 0;
}



/*ship {
	display: inline-block;
	border: 1px solid black;
	height: 30px;
}

.Patrol {
	width: 62px;
}
.Submarine {
	width: 94px;
}
.Destroyer {
	width: 126px;
}
.Battleship {
	width: 158px;
}
.Carrier {
	width: 190px;
} */
